<html>

<body>
    <form action="/bill" method="POST">
    <select id="operation" name="operation">
        <option value="protinex">protinex</option>
        <option value="chyawanprash">chyawanprash</option>
        <option value="almond">almond</option>
        <option value="oats">oats</option>
        <option value="cashew">cashew</option>
        <option value="chocolate">chocolate</option>
      </select>
      <input type="int" name="quantity" id="quantity">
      <input type="int" name="cost" id="cost">
      <input type="submit" value="Calculate">
    </form>

</body>

</html>
